body {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif";
  float: left;
}

img {
  float: left;
  margin: 20px; 
  border: double;
  width: 200px;
  
}

ul {
  float: left;
  height: 250px;
  width: 200px;

}

.achievement1 {
  float: right;
  height: 250px;
  width: 200px

}

.achievement2 {
  float: left;
  height: 250px;
  width: 200px

}

.achievement3 {
  float: left;
  height: 250px;
  width: 200px;

}

.achievement4 {
  float: left;
  height: 250px;
  width: 200px;

}


