body {
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif";
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  
}

#h2 {
 
  text-align: center;
  font-size: 25px;
  
}

.h2 {
  font-size: 30px;
  text-align: center;
  color: white;

}

img {
  float: left;
  margin: 10px; 
  border: double;
  width: 250px;
  
}

.lol {
  float: left;
  margin: 20px; 
  border: double;
  width: 350px;

}

ul {
  float: left;
  font-size: 22px;

}

.achievement1 {
  float: left;
  height: 250px;
  width: 200px;
  font-size: 20px;

}

.achievement2 {
  float: left;
  height: 250px;
  width: 200px;
  font-size: 20px;

}

.achievement3 {
  float: left;
  height: 250px;
  width: 200px;
  font-size: 20px;

}

.achievement4 {
  float: left;
  height: 250px;
  width: 200px;
  font-size: 20px;

}

p {
  float: right;
  height: 250px;
  width: 200px;
  font-size: 18px;

}


